[submodule "frontend"]
	path = frontend
	url = https://github.com/iamsomeshmishra/youtube-player-frontend
[submodule "server"]
	path = server
	url = https://github.com/iamsomeshmishra/youtube-player-server
